domains/product-factory/workflows/crew-counselor-deanna-troi-user-experience-openrouter-production.json
{
  "id": "QJnN7ks2KsQTENDc",
  "name": "CREW - Counselor Deanna Troi - User Experience - OpenRouter - Production",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crew-counselor-deanna-troi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "crew_directive",
      "name": "Counselor Deanna Troi Directive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "webhookId": "7bd01b46-f012-43dd-8de7-82e561b7172d"
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://n8n.pbradygeorgen.com/webhook/crew-memory-storage",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ (() => {\n  const content = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) || '';\n  const summaryLine = content.split('\\n').find(line => line.trim()) || content;\n  return {\n    body: {\n      crewMember: 'troi',\n      knowledgeType: 'best_practice',\n      priority: 'medium',\n      title: 'User Experience Advisory',\n      summary: summaryLine.trim() || 'User experience guidance',\n      detailedAnalysis: content,\n      keyFindings: [],\n      conclusions: [],\n      recommendations: [],\n      tags: ['crew', 'troi']\n    }\n  };\n})() }}",
        "options": {}
      },
      "id": "memory_retrieval",
      "name": "Counselor Deanna Troi Memory Retrieval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "llm_selector",
      "name": "LLM Selection Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "crew_ai",
      "name": "Counselor Deanna Troi AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://rpkkkbufdwxmjaerbhbn.supabase.co/rest/v1/crew_memories",
        "options": {}
      },
      "id": "memory_storage",
      "name": "Counselor Deanna Troi Memory Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "observation_communication",
      "name": "Observation Lounge Communication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  crew_member: 'counselor_troi',\n  crew_name: 'Counselor Deanna Troi',\n  role: 'Ship Counselor',\n  summary: $('Counselor Deanna Troi AI Agent').item.json?.choices?.[0]?.message?.content?.split('\\n').find(line => line.trim())?.trim() || $('Counselor Deanna Troi AI Agent').item.json?.choices?.[0]?.message?.content || 'No response generated.',\n  full_response: $('Counselor Deanna Troi AI Agent').item.json?.choices?.[0]?.message?.content || null,\n  request: $('Counselor Deanna Troi Directive').item.json || null,\n  memory: $json,\n  metadata: {\n    generated_at: $now,\n    model: $('Counselor Deanna Troi AI Agent').item.json?.model || null,\n    usage: $('Counselor Deanna Troi AI Agent').item.json?.usage || null\n  }\n} }}",
        "options": {}
      },
      "id": "crew_response",
      "name": "Counselor Deanna Troi Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        304
      ]
    }
  ],
  "connections": {
    "Counselor Deanna Troi Directive": {
      "main": [
        [
          {
            "node": "LLM Selection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Selection Agent": {
      "main": [
        [
          {
            "node": "Counselor Deanna Troi AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counselor Deanna Troi AI Agent": {
      "main": [
        [
          {
            "node": "Observation Lounge Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observation Lounge Communication": {
      "main": [
        [
          {
            "node": "Counselor Deanna Troi Memory Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counselor Deanna Troi Memory Retrieval": {
      "main": [
        [
          {
            "node": "LLM Selection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Counselor Deanna Troi Memory Storage": {
      "main": [
        [
          {
            "node": "Counselor Deanna Troi Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "827b40d6-3081-4174-8109-bd4fd2e855d1",
  "triggerCount": 1,
  "createdAt": "2025-08-27T02:25:47.178Z",
  "updatedAt": "2025-09-21T21:31:48.244Z",
  "tags": [],
  "_downloadedAt": "2025-09-21T21:33:26.798Z",
  "_category": "crew-workflows",
  "_source": "remote-n8n"
}