domains/product-factory/workflows/crew-commander-william-riker-tactical-execution-openrouter-production.json
{
  "id": "Imn7p6pVgi6SRvnF",
  "name": "CREW - Commander William Riker - Tactical Execution - OpenRouter - Production",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crew-commander-william-riker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "crew_directive",
      "name": "Commander William Riker Directive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "webhookId": "c5ec3bfb-001d-45d5-a6c3-9115c0b0cc0d"
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "POST",
        "url": "https://n8n.pbradygeorgen.com/webhook/crew-memory-storage",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ (() => {\n  const content = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) || '';\n  const summaryLine = content.split('\\n').find(line => line.trim()) || content;\n  return {\n    body: {\n      crewMember: 'riker',\n      knowledgeType: 'problem_solution',\n      priority: 'high',\n      title: 'Tactical Execution Plan',\n      summary: summaryLine.trim() || 'Tactical execution guidance',\n      detailedAnalysis: content,\n      keyFindings: [],\n      conclusions: [],\n      recommendations: [],\n      tags: ['crew', 'riker']\n    }\n  };\n})() }}",
        "options": {}
      },
      "id": "memory_retrieval",
      "name": "Commander William Riker Memory Retrieval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "llm_selector",
      "name": "LLM Selection Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        336
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "crew_ai",
      "name": "Commander William Riker AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://rpkkkbufdwxmjaerbhbn.supabase.co/rest/v1/crew_memories",
        "options": {}
      },
      "id": "memory_storage",
      "name": "Commander William Riker Memory Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "observation_communication",
      "name": "Observation Lounge Communication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ {\n  success: true,\n  crew_member: 'commander_riker',\n  crew_name: 'Commander William Riker',\n  role: 'First Officer',\n  summary: $('Commander William Riker AI Agent').item.json?.choices?.[0]?.message?.content?.split('\\n').find(line => line.trim())?.trim() || $('Commander William Riker AI Agent').item.json?.choices?.[0]?.message?.content || 'No response generated.',\n  full_response: $('Commander William Riker AI Agent').item.json?.choices?.[0]?.message?.content || null,\n  request: $('Commander William Riker Directive').item.json || null,\n  memory: $('Commander William Riker Memory Storage').item.json || null,\n  metadata: {\n    generated_at: $now,\n    model: $('Commander William Riker AI Agent').item.json?.model || null,\n    usage: $('Commander William Riker AI Agent').item.json?.usage || null\n  }\n} }}"
      },
      "id": "crew_response",
      "name": "Commander William Riker Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        304
      ]
    }
  ],
  "connections": {
    "Commander William Riker Directive": {
      "main": [
        [
          {
            "node": "Commander William Riker Memory Retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Selection Agent": {
      "main": [
        [
          {
            "node": "Commander William Riker AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commander William Riker AI Agent": {
      "main": [
        [
          {
            "node": "Observation Lounge Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observation Lounge Communication": {
      "main": [
        [
          {
            "node": "Commander William Riker Memory Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commander William Riker Memory Retrieval": {
      "main": [
        [
          {
            "node": "LLM Selection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commander William Riker Memory Storage": {
      "main": [
        [
          {
            "node": "Commander William Riker Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "original-sync-restored"
}