domains/product-factory/workflows/crew-captain-jean-luc-picard-strategic-leadership-openrouter-production.json
{
  "id": "BdNHOluRYUw2JxGW",
  "name": "CREW - Captain Jean-Luc Picard - Strategic Leadership - OpenRouter - Production",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crew-captain-jean-luc-picard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "crew_directive",
      "name": "Captain Jean-Luc Picard Directive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "webhookId": "c5ec3bfb-001d-45d5-a6c3-9115c0b0cc0d"
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://n8n.pbradygeorgen.com/webhook/crew-memory-storage",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ (() => {\n  const content = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) || '';\n  const summaryLine = content.split('\\n').find(line => line.trim()) || content;\n  return {\n    body: {\n      crewMember: 'picard',\n      knowledgeType: 'strategic_assessment',\n      priority: 'high',\n      title: 'Strategic Leadership Advisory',\n      summary: summaryLine.trim() || 'Strategic leadership guidance',\n      detailedAnalysis: content,\n      keyFindings: [],\n      conclusions: [],\n      recommendations: [],\n      tags: ['crew', 'picard']\n    }\n  };\n})() }}",
        "options": {}
      },
      "id": "memory_retrieval",
      "name": "Captain Jean-Luc Picard Memory Retrieval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "llm_selector",
      "name": "LLM Selection Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        336
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "crew_ai",
      "name": "Captain Jean-Luc Picard AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://rpkkkbufdwxmjaerbhbn.supabase.co/rest/v1/crew_memories",
        "options": {}
      },
      "id": "memory_storage",
      "name": "Captain Jean-Luc Picard Memory Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "observation_communication",
      "name": "Observation Lounge Communication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  crew_member: 'captain_picard',\n  crew_name: 'Captain Jean-Luc Picard',\n  role: 'Commanding Officer',\n  summary: $('Captain Jean-Luc Picard AI Agent').item.json?.choices?.[0]?.message?.content?.split('\\n').find(line => line.trim())?.trim() || $('Captain Jean-Luc Picard AI Agent').item.json?.choices?.[0]?.message?.content || 'No response generated.',\n  full_response: $('Captain Jean-Luc Picard AI Agent').item.json?.choices?.[0]?.message?.content || null,\n  request: $('Captain Jean-Luc Picard Directive').item.json || null,\n  memory: $json,\n  metadata: {\n    generated_at: $now,\n    model: $('Captain Jean-Luc Picard AI Agent').item.json?.model || null,\n    usage: $('Captain Jean-Luc Picard AI Agent').item.json?.usage || null\n  }\n} }}",
        "options": {}
      },
      "id": "crew_response",
      "name": "Captain Jean-Luc Picard Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        304
      ]
    }
  ],
  "connections": {
    "Captain Jean-Luc Picard Directive": {
      "main": [
        [
          {
            "node": "Captain Jean-Luc Picard Memory Retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Selection Agent": {
      "main": [
        [
          {
            "node": "Captain Jean-Luc Picard AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captain Jean-Luc Picard AI Agent": {
      "main": [
        [
          {
            "node": "Observation Lounge Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observation Lounge Communication": {
      "main": [
        [
          {
            "node": "Captain Jean-Luc Picard Memory Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captain Jean-Luc Picard Memory Retrieval": {
      "main": [
        [
          {
            "node": "LLM Selection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captain Jean-Luc Picard Memory Storage": {
      "main": [
        [
          {
            "node": "Captain Jean-Luc Picard Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "f69dd4ee-c8c2-47b6-8360-4fedb0e7023f",
  "triggerCount": 1,
  "createdAt": "2025-08-27T02:25:47.297Z",
  "updatedAt": "2025-09-21T21:31:47.981Z",
  "tags": [],
  "_downloadedAt": "2025-09-21T21:33:26.797Z",
  "_category": "crew-workflows",
  "_source": "remote-n8n"
}