domains/product-factory/workflows/crew-lieutenant-commander-geordi-la-forge-infrastructure-openrouter-production.json
{
  "id": "e0UEwyVcXJqeePdj",
  "name": "CREW - Lieutenant Commander Geordi La Forge - Infrastructure - OpenRouter - Production",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crew-lieutenant-commander-geordi-la-forge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "crew_directive",
      "name": "Lieutenant Commander Geordi La Forge Directive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "webhookId": "70c17a41-3e31-43ac-851d-3c490da2891b"
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "https://n8n.pbradygeorgen.com/webhook/crew-memory-storage",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{ (() => {\n  const content = ($json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) || '';\n  const summaryLine = content.split('\\n').find(line => line.trim()) || content;\n  return {\n    body: {\n      crewMember: 'la_forge',\n      knowledgeType: 'engineering_solution',\n      priority: 'high',\n      title: 'Infrastructure Engineering Advisory',\n      summary: summaryLine.trim() || 'Infrastructure guidance',\n      detailedAnalysis: content,\n      keyFindings: [],\n      conclusions: [],\n      recommendations: [],\n      tags: ['crew', 'la_forge']\n    }\n  };\n})() }}",
        "options": {}
      },
      "id": "memory_retrieval",
      "name": "Lieutenant Commander Geordi La Forge Memory Retrieval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "llm_selector",
      "name": "LLM Selection Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        464,
        368
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "crew_ai",
      "name": "Lieutenant Commander Geordi La Forge AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://rpkkkbufdwxmjaerbhbn.supabase.co/rest/v1/crew_memories",
        "options": {}
      },
      "id": "memory_storage",
      "name": "Lieutenant Commander Geordi La Forge Memory Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        112
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "url": "https://api.openrouter.ai/api/v1/chat/completions",
        "options": {}
      },
      "id": "observation_communication",
      "name": "Observation Lounge Communication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  crew_member: 'geordi_la_forge',\n  crew_name: 'Lieutenant Commander Geordi La Forge',\n  role: 'Chief Engineer',\n  summary: $('Lieutenant Commander Geordi La Forge AI Agent').item.json?.choices?.[0]?.message?.content?.split('\\n').find(line => line.trim())?.trim() || $('Lieutenant Commander Geordi La Forge AI Agent').item.json?.choices?.[0]?.message?.content || 'No response generated.',\n  full_response: $('Lieutenant Commander Geordi La Forge AI Agent').item.json?.choices?.[0]?.message?.content || null,\n  request: $('Lieutenant Commander Geordi La Forge Directive').item.json || null,\n  memory: $json,\n  metadata: {\n    generated_at: $now,\n    model: $('Lieutenant Commander Geordi La Forge AI Agent').item.json?.model || null,\n    usage: $('Lieutenant Commander Geordi La Forge AI Agent').item.json?.usage || null\n  }\n} }}",
        "options": {}
      },
      "id": "crew_response",
      "name": "Lieutenant Commander Geordi La Forge Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        304
      ]
    }
  ],
  "connections": {
    "Lieutenant Commander Geordi La Forge Directive": {
      "main": [
        [
          {
            "node": "LLM Selection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Selection Agent": {
      "main": [
        [
          {
            "node": "Lieutenant Commander Geordi La Forge AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lieutenant Commander Geordi La Forge AI Agent": {
      "main": [
        [
          {
            "node": "Observation Lounge Communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observation Lounge Communication": {
      "main": [
        [
          {
            "node": "Lieutenant Commander Geordi La Forge Memory Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lieutenant Commander Geordi La Forge Memory Retrieval": {
      "main": [
        [
          {
            "node": "LLM Selection Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lieutenant Commander Geordi La Forge Memory Storage": {
      "main": [
        [
          {
            "node": "Lieutenant Commander Geordi La Forge Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7680ef81-45d5-4d25-b8fc-6ec5e2147079",
  "triggerCount": 1,
  "createdAt": "2025-08-27T02:25:46.595Z",
  "updatedAt": "2025-09-21T21:31:48.410Z",
  "tags": [],
  "_downloadedAt": "2025-09-21T21:33:26.798Z",
  "_category": "crew-workflows",
  "_source": "remote-n8n"
}